.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.b-login {
    background: var(--turquoise);
    color: var(--white);
    height: 57px;
    border-radius: 10px;
}

.b-login:hover {
    background: var(--turquoise);
    color: var(--white);
}