@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*NGX-DATATABLE*/
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

/*COLORS*/
:root {
    --white: #fff;
    --grey-light: #B5B5C7;
    --grey-more-light: #F5F8FA;
    --grey: #888888;
    --grey-background: #EFF1F5;
    --turquoise: #0CC3D4;
    --light-turquoise: #99EAF1;
    --blue: #0071BC;
    --red-color: #C12A33;
}

/*FONT-WEIGHTS*/
:root {
    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700;
}

/*LETTER COLOR*/
.l-red {
    color: var(--red-color);
}

.l-grey-light {
    color: var(--grey-light);
}

/*TITLES*/
.title-h1 {
    font-size: 30px;
    font-weight: var(--medium);
}

.title-h2 {
    font-size: 24px;
    font-weight: var(--medium);
}

.title-h4 {
    font-size: 16px;
    font-weight: var(--medium);
}

/*OTHERS*/
* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--red-color);
}

/*INPUTS*/
.i-text-normal {
    background: var(--grey-more-light);
    border: none;
    height: 57px;
    border-radius: 10px;
}

.i-text-modal {
    background: var(--grey-more-light);
    border: none;
    border-radius: 10px;
}

/*BUTTONS*/


/*FONT AWESOME ICONS*/
.icon-sidebar {
    font-size: 22px;
    color: var(--turquoise);
}

.icon-sidebar-active {
    color: var(--light-turquoise);
}

/*SIDEBAR*/
.sidebar {
    height: 100vh;
}

/*NAVBAR*/
.navbar {
    background: var(--turquoise);
    height: 80px;
}

.navbar-brand {
    color: var(--white) !important;
}

/*MAIN CONTENT*/
.main-content {
    background: var(--grey-background);
}


/*TOOLBAR TABLE*/
.btn-add {
    border: none;
    background: var(--turquoise);
    color: var(--white);
    border-radius: 5px;
    font-size: 14px;
}

.btn-add:hover {
    color: var(--white);
}

.input-search {
    border-radius: 5px;
    border: none;
    color: var(--grey);
    background: var(--grey-more-light);
    font-size: 14px;
}

/*CARD TABLE*/
.card-table {
    border-radius: 10px;
    border: none;
}

.header-table {
    font-size: 15px;
    color: var(--grey);
    font-weight: var(--medium);
}

.data-table {
    font-size: 14px;
    font-weight: var(--medium);
}

.img-table {
    height: 50px;
    width: 50px;
}

.input-select {
    background-color: var(--grey-more-light);
    border: none;
    border-radius: 10px;
}

.bnt-action-table {
    font-size: 13px;
}

.btn-delete {
    color: var(--red-color);
}

.btn-delete:hover {
    color: var(--red-color);
}

.page-size-select{
    background: var(--grey-more-light);
    border: none;
    width: 50px;
    color: var(--grey);
}

.my-pagination {
    color: var(--grey);
}

.my-pagination .ngx-pagination .current {
    background: var(--turquoise);
    color: var(--white);
    border-radius: 5px;
}

/*MODAL*/
.modal-content {
    border: none;
    border-radius: 10px;
}

.btn-agregar {
    background: var(--turquoise);
    color: var(--white);
}

.btn-cancelar {
    background: var(--blue);
    color: var(--white);
}

.btn-agregar:hover, .btn-cancelar:hover, .btn-search:hover {
    color: var(--white);
}

.btn-search {
    background: var(--grey);
    color: var(--white);
    border-radius: 5px;
    font-size: 14px;
}

/* Status order */
.Pagado {
    border-radius: 5px;
    margin: 0;
    background: #EEE5FF;
}

.Entregado {
    border-radius: 5px;
    margin: 0;
    background: #C9F7F5;
}

.En.Proceso {
    border-radius: 5px;
    margin: 0;
    background: #FFF4DE;
}

.Anulado {
    border-radius: 5px;
    margin: 0;
    background: #FFE2E5;
}

.Preparado {
    border-radius: 5px;
    margin: 0;
    background: #E9E9ED;
}